In [2]:
#Import dependencies and setup
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

In [3]:
executable_path = {'executable_path': "/Users/moz/.wdm/drivers/chromedriver/mac64/91.0.4472.19/chromedriver"}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
#Connecting to NASA site
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [5]:
# Parse Results HTML with BeautifulSoup
# Find Everything Inside:
html = browser.html
soup = BeautifulSoup(html, "html.parser")
location = soup.select_one("div.image_and_description_container div.list_text")

In [6]:
# Scrape the Latest Paragraph Title
news_title = location.find("div", class_="content_title").get_text()
print(news_title)

NASA's Perseverance Rover Begins Its First Science Campaign on Mars

In [7]:
# Scrape the Latest Paragraph Title
news_p = location.find("div", class_="article_teaser_body").get_text()
print(news_p)

The six-wheeled scientist is heading south to explore Jezero Crater’s lakebed in search of signs of ancient microbial life.

In [13]:
# Visit the NASA JPL (Jet Propulsion Laboratory) Site
executable_path = {'executable_path': "/Users/moz/.wdm/drivers/chromedriver/mac64/91.0.4472.19/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)
url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
browser.visit(url)

In [14]:
# Browse html & parse 
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [15]:
# Find "FULL IMAGE" Button and Click It
browser.is_element_present_by_text("FULL IMAGE", wait_time=1)
more_info_element = browser.links.find_by_partial_text("FULL IMAGE")
more_info_element.click()

In [17]:
photo_full = soup.find('img', class_='headerimage fade-in')['src']
photo_full

'image/featured/mars1.jpg'

In [20]:
photo_full_url = f"https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/{photo_full}"
print(photo_full_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars1.jpg

In [81]:
# Visit the Mars Facts Site Using Pandas to Read & Scrap data
url = 'https://space-facts.com/mars/'
tables = pd.read_html(url)
mars_facts = tables[0]
mars_facts = mars_facts.rename(columns={0: "Description", 1: "Value"})
mars_facts

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [82]:
# Convert table to html to then open 
html_table = df.to_html()
df.to_html('table.html')
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [83]:
browser.quit()

In [84]:
# Visit the USGS Astrogeology Science Center Site
executable_path = {'executable_path': "/Users/moz/.wdm/drivers/chromedriver/mac64/91.0.4472.19/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [85]:
hemisphere_image_urls = []

# Get a List of All the Hemispheres
links = browser.find_by_css("a.product-item h3")
for item in range(len(links)):
    hemisphere = {}
    
    # Find Element on Each Loop to Avoid a Stale Element Exception
    browser.find_by_css("a.product-item h3")[item].click()
    
    # Find Sample Image Anchor Tag & Extract <href>
    sample_element = browser.links.find_by_text("Sample").first
    hemisphere["img_url"] = sample_element["href"]
    
    # Get Hemisphere Title
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
    # Append Hemisphere Object to List
    hemisphere_image_urls.append(hemisphere)
    
    # Navigate Backwards
    browser.back()

In [40]:
#Image URLS capture
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]